*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #fff;
}
nav{
    height: 10vh;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: #000000e0;
    align-items: center;
    justify-content: space-between;

}

.search-box{
    height: 4.5vh;
    width: 21rem;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 2px 2px 2px #000000e2;
    align-items: center;
    background-color: #434040;
}
#search-input{
    height: 100%;
    border-radius: 20px;
    width: 93%;
    background-color: #434040;
    font-size: 0.8rem;
    color: aliceblue;
    outline: 0;
    padding-left: 0.3rem;
    border: none;
}
.search-box img{
  padding-left: 6px;
  height: 50%;
}
#location{
    height: 5vh;
width: 8rem;
border-radius: 20px;
font-size: 0.8rem;


}
.main-cnt{
    height: 90vh;
    width: 100%;
    display: flex;
}
.left-sec{
    width: 25%;
    background-color: #000000e0;
    height: 100%;
}

.current-temp{
    height: 38vh;
    margin:12px 30px 0 30px;
    background-color: #434040;
    border-radius: 30px;
    padding:10px 20px;
    box-shadow: 2px 2px 2px #000000e2;

}
.this-week{
    height: 33vh;
    box-shadow: 2px 2px 2px #000000e2;

    margin:12px 30px 10px 30px;
    background-color: #434040;
    border-radius: 30px;
    padding:10px 20px;

}

.current-temp h3{
    margin-top: 15px;
    font-size: 1rem;
    color: #ffffff7f;
}
.temp{
    margin-top: 15px;
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.temp h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.temp img{
    margin-right: 30px;
    height: 100%;
}
#condition{
    margin-top: 13px;
    padding-bottom: 15px;
    font-size: 0.6rem;
   border-bottom:1px solid #ffffff7a;
}
.area-day{
    height: 60px;
    align-content: center;
}
.day , .area{
    margin-top: 6px;
}
#day , #area{
    font-size: 0.8rem;
   color: #ffffffa6;
}
#outer{
    font-size: 1rem;
    color: #ffffffdd;
    margin: 20px 0 20px 30px;
}
.row{
    height: 4vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.row img{
    height: 120%;
}
.row p{
    font-size: 0.8rem;
    color: #ffffffd0;
}

.right-sec{
    height: 100%;
    background-color: #000000e0;
    width: 75%;
    padding: 10px;
}
.dashbord{
    height: 60%;
    padding: 20px;
    border-radius: 30px;
    background-color: #434040;



}
.dashbord h2{
    font-size: 1rem;
    color: #ffffffba;
}