*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #fff;
}
nav{
    height: 10vh;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: #000000e0;
    align-items: center;
    justify-content: space-between;

}
#unite{
    height: 3vh;
    width: 6rem;
    border: none;
    border-radius: 6px;
    outline: 0;
    background: #434040;
    color: #ffffffb3;
    font-size: 0.7rem;
    margin: 0 5px;
}
/* Container for the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide the default checkbox */
  .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider */
  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #434040;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* The circle inside the slider */
  .switch-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: rgba(95, 95, 95, 0.585);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* When the checkbox is checked, move the slider */
  .switch-input:checked + .switch-slider {
    background-color: #c8c7c7;
  }
  
  .switch-input:checked + .switch-slider:before {
    transform: translateX(26px);
  }
  
.search-box{
    height: 4.5vh;
    width: 21rem;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 2px 2px 2px #000000e2;
    align-items: center;
    background-color: #434040;
}
#search-input{
    height: 100%;
    border-radius: 20px;
    width: 93%;
    background-color: #434040;
    font-size: 0.8rem;
    color: aliceblue;
    outline: 0;
    padding-left: 0.3rem;
    border: none;
}
.search-box img{
  padding-left: 6px;
  height: 50%;
}
#location i{
    margin-right: 10px;
}
#location{
    height: 5vh;
width: 9rem;
border-radius: 20px;
font-size: 0.8rem;


}
.main-cnt{
    height: 90vh;
    width: 100%;
    display: flex;
}
.left-sec{
    width: 25%;
    background-color: #000000e0;
    height: 100%;
}

.current-temp{
    height: 38vh;
    margin:12px 30px 0 30px;
    background-color: #434040;
    border-radius: 30px;
    padding:10px 20px;
    box-shadow: 2px 2px 2px #000000e2;

}
.this-week{
    height: 33vh;
    box-shadow: 2px 2px 2px #000000e2;

    margin:12px 30px 10px 30px;
    background-color: #434040;
    border-radius: 30px;
    padding:10px 20px;

}

.current-temp h3{
    margin-top: 15px;
    font-size: 1rem;
    color: #ffffff7f;
}
.temp{
    margin-top: 15px;
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.temp h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.temp img{
    margin-right: 30px;
    height: 100%;
}
.invert{
    color: #000;
    background-color: #efebebdd;
}
#condition{
    margin-top: 13px;
    padding-bottom: 15px;
    font-size: 0.6rem;
   border-bottom:1px solid #ffffff7a;
}
.area-day{
    height: 60px;
    align-content: center;
}
.day , .area{
    margin-top: 6px;
}
#day , #area{
    font-size: 0.8rem;
   color: #ffffffa6;
}
#day i, #area i{
    margin-right: 5px;
}
#outer{
    font-size: 1rem;
    color: #ffffffdd;
    margin: 20px 0 20px 30px;
}
.row{
    height: 4vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.row img{
    height: 120%;
}
.row p{
    font-size: 0.8rem;
    color: #ffffffd0;
}

.right-sec{
    height: 100%;
    background-color: #000000e0;
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px 40px 0 10px;
    scrollbar-width: none;        
}

.dashbord{
    height: 60%;
    padding:20px 40px;
    border-radius: 30px;
    background-color: #434040;
}
.dashbord h2, .full-day h3{
    margin-left: 10px;
    font-size: 1rem;
    color: #ffffffba;
}
.upper-sec , .lower-sec{
    width: 100%;
    height: 45%;
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.lower-sec{
    margin-top: 10px;
}
.air-index, .sunrise-set{
        margin-top: 30px;
        height: 100%;
        width: 49%;
        background: #00000014;
        border-radius: 14px;
}
.sunrise-set-title{
    margin-top: 8px;
}
.air-condtion{
    height: 3vh;
    justify-content: space-between;
    padding: 13px 20px;
    display: flex;
   align-items: center;
}

.air-condtion h2, .sunrise-set h2{
    font-size: 0.7rem;
    color: #ffffffba;
}
.air-condtion p{
    margin-top: 7px;
 font-size: 0.6rem;
   background: red;
   padding: 3px 7px;
   border-radius: 20px;

}
.air-details ,.sunrise-set-details{
    height: calc(100% - 3vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.air-condtion-details{
    padding: 0 20px 0 15px;
    height: 100%;
    text-align: center;
    align-content: center;
}
.air-condtion-details img{
    height: 2rem;
}

.air-condtion-details p, .rise-details p, .set-details p,.temp-feel p, .pressure p, .humidity p, .visibility p{
  font-size: 0.6rem;
  margin-bottom: 9px;
  color: #ffffff88;

}
.air-condtion-details h3 ,.rise-details h3, .set-details h3{
  font-size: 1.1rem;

}
.rise ,.set{
    height: 100%;
    width: 50%;
    padding:0 20px;
    display: flex;
   gap: 20px;
    align-items: center;
    /* background: red; */
}

.rise-img img, .set-img img{
    width: 30px;
    margin-top: 10px;
}
.temp-feel, .pressure, .humidity, .visibility{
    height: 80%;
    width: 23%;
    background: #00000014;
    border-radius: 20px;
    padding:10px 20px;
}
.temp-details, .visibility-details, .humidity-details, .pressure-details{
    display: flex;
    align-items: center;
    padding:0 20px 0 10px;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}
.temp-details i, .temp-details h3, .visibility-details i, .visibility-details h3, .humidity-details h3, .pressure-details h3{
    font-size: 1.4rem;
    color: #ffffffc0;
}
.humidity-details img ,.pressure-details img{
    height: 30px;
}
#today-title{
    margin: 10px;
}
.full-day{
    padding: 10px 5px;
    height: 300px;
    width: 100%;
  

}
.onerow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card{
    background-color: #434040;
    height: 130px;
    border-radius: 20px;
    width: 100px;
    padding: 10px 20px;

}
.card img{
    height: 60px;
}
.card p{
    font-size: 0.9rem;
    margin-left: 19px;
}